
export(medcouple)
export(format_number)
export(outliers)
export(summarize)

# function ggplot2 custom
export(axis_cut)
#export(line_zero)
#export(line_axis)
#export(gap_box)
export(transf_trans)
export(coord_trans_flip)
export(geom_boxplot2)
export(stat_boxplot2)

importFrom(stats,
    complete.cases,
    mad,
    rf,
    sd,
    var,
    qnorm,
    qt,
    pnorm,
    quantile,
    median,
    ks.test,
    shapiro.test,
    IQR)
importFrom(data.table,
    data.table,
    setnames,
    melt,
    dcast,
    setkeyv,
    .SD,
    ':=',
    .N,
    setDT,
    copy,
    setorder,
    is.data.table,
    as.data.table,
    setindex)
# cli
#import(cli)
# scales
#import(scales)
importFrom(ggplot2,
    waiver,
    ggproto,
    draw_key_boxplot,
    Geom,
    position_dodge2,
    layer,
    Stat,
    draw_key_blank,
    GeomBlank,
    CoordTrans,
    PositionIdentity,
    aes,
    guide_axis,
    sec_axis,
    theme,
    element_rect,
    unit,
    margin,
    element_text,
    element_line,
    element_blank,
    labs,
    geom_hline,
    geom_point,
    geom_text,
    ggplot,
    guide_legend,
    guides,
    scale_fill_manual,
    scale_x_continuous,
  scale_y_continuous)
importFrom(methods, formalArgs)
useDynLib(geok, .registration=TRUE)
